rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null
    }

    function getGroup(groupId) {
      return get(/databases/$(database)/documents/group/$(groupId))
    }

    function getRole(group) {
      return group.data.users[request.auth.uid].role
    }

    function isOneOfRoles(group, roles) {
      return isSignedIn() && (getRole(group) in roles)
    }

    match /group/{groupId} {
      allow read: if isOneOfRoles(resource, ['admin', 'write', 'read'])

      match /transactions/{transactionId} {
        allow read: if isOneOfRoles(getGroup(groupId), ['admin', 'write', 'read'])
      }

      match /invite/{inviteId} {
        allow read, write: if isOneOfRoles(getGroup(groupId), ['admin'])
      }
    }
  }
}
